<!-- <form class="" action="index.html" method="post">
  <h3>Email</h3>
  <input type="email" name="" value="">
  <h3>Password</h3>
  <input type="password" name="" value="">
  <button type="button" name="button">login</button>
</form>
  -->
<%= form_tag '/login' do %>
  <div class="form-group">
    <%= label_tag :username %>
    <%= text_field_tag :username, nil, :autofocus => true, class: "form-control" %>
  </div>
    <%= label_tag :password %>
    <%= password_field_tag :password , nil, class: "form-control" %>
  <br>
  <div class="form-group">
    <%= submit_tag 'Login', class: "btn btn-primary" %>
  </div>
  <% if @user.errors.any? %>
      <ul class="Signup_Errors">
        <% for message_error in @user.errors.full_messages %>
          <li>* <%= message_error %></li>
        <% end %>
      </ul>
  <% end %>
<% end %>
